<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpBE3C1D05C7C90455322C9F819A57A07A" Guid="{095389DD-636F-4C19-9DA3-3C7040BDE705}">
                <File Id="filE7C602A91344AD969255F20A2CA7411A" KeyPath="yes" Source="$(var.BasePath)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp6008A86AE138BD45314608B385266AA3" Guid="{E688D33A-E2E2-4315-8B1A-83FBFB9E29AE}">
                <File Id="fil1903E10C302552AF0F25292D924A8B57" KeyPath="yes" Source="$(var.BasePath)\icon.ico" />
            </Component>
            <Component Id="cmp979BB5B2297816EF2D91624FE967267D" Guid="{DA48B6BA-DEBF-4A64-A17D-7978BC668240}">
                <File Id="fil90ABFE40E18B3705156C760B3E7FFC87" KeyPath="yes" Source="$(var.BasePath)\NAudio.dll" />
            </Component>
            <Component Id="cmp15F276DD78B937ABF16BDD9DDBEAAF51" Guid="{E8C24C0A-31F7-4CA2-BE60-16A3A50C804B}">
                <File Id="fil58369E9BD68E8957FFCC49B9A4B866DC" KeyPath="yes" Source="$(var.BasePath)\NAudioWrapperLibrary.dll" />
            </Component>
            <Component Id="cmpC9CCC10524EC28AC8D49BDBCF324B1E2" Guid="{3405C960-B73C-4404-AA96-E77E94F6AC97}">
                <File Id="fil978BA102798C46007549A6278F276FA0" KeyPath="yes" Source="$(var.BasePath)\NAudioWrapperLibrary.pdb" />
            </Component>
            <Component Id="cmpE74CA790A66676363C35D80877FFA067" Guid="{287E987D-D3C3-4FE5-BB47-759940BA2BE4}">
                <File Id="filFD337ED5567EA659AA14D088DF1DABBE" KeyPath="yes" Source="$(var.BasePath)\NetworkingWrapperLibrary.dll" />
            </Component>
            <Component Id="cmpA5B86012D697E6B9E09D3B4EC05B400C" Guid="{6B29F8ED-020E-48ED-955D-B09F21CD67C5}">
                <File Id="fil270A1CE538A415D25A1F5067E24AC556" KeyPath="yes" Source="$(var.BasePath)\NetworkingWrapperLibrary.pdb" />
            </Component>
            <Component Id="cmp96C2150271DEB1D6783982D5FBD66080" Guid="{468D56A9-35BC-4FAA-BEAE-F37D92DA3C88}">
                <File Id="fil5FC609FF1C2DDAAB263D47FB6739047B" KeyPath="yes" Source="$(var.BasePath)\OBSWebSocketLibrary.dll" />
            </Component>
            <Component Id="cmp8D63CAFAF7001FB2C717C72E8F021B38" Guid="{90224FC4-A058-4C73-B3BD-6B45FC91E8A2}">
                <File Id="fil7B4112338D0099C24CF27F888F37C490" KeyPath="yes" Source="$(var.BasePath)\OBSWebSocketLibrary.pdb" />
            </Component>
            <Component Id="cmpCCE82857804FE1C0A9C544F18575AA72" Guid="{9C62849E-DDF9-4ED8-AB10-10ADDFB0641E}">
                <File Id="fil9E70E7BC9B65767F186FDAEDDA616DD9" KeyPath="yes" Source="$(var.BasePath)\SharedModels.dll" />
            </Component>
            <Component Id="cmp2632C97EF539E8AAB8F5BD9E0AF745AD" Guid="{DD866E30-E38C-43B7-A8EA-5C400D6017F4}">
                <File Id="filD829F76887F60476A19CAA3480BE0328" KeyPath="yes" Source="$(var.BasePath)\SharedModels.pdb" />
            </Component>
            <Component Id="cmp783EEDF4E4D204DBEA6F3B86C9B5F66F" Guid="{B65A7FFB-2199-4DD8-971F-45864BC96BFB}">
                <File Id="fil53707ECE2FAFE8492C065574FE62D8D0" KeyPath="yes" Source="$(var.BasePath)\StreamController.deps.json" />
            </Component>
            <Component Id="cmpBCCE103F5F9888138D149CA2D3F4C388" Guid="{DBDE5D2C-D812-4499-A556-DBAFB9DAC112}">
                <File Id="filB9A9B27F851F53156D0F1719A11DC945" KeyPath="yes" Source="$(var.BasePath)\StreamController.dll" />
            </Component>
            <Component Id="cmp3A1A52D7DAFE1B4D1946A67E67C471F4" Guid="{00040F3E-F59A-4206-A221-1F5CFBA3DCFF}">
                <File Id="fil8C7E37F1FFA1717D823A404C654087F2" KeyPath="yes" Source="$(var.BasePath)\StreamController.exe" />
            </Component>
            <Component Id="cmp3DDD94F7D3709E101400D0A6613DE7C2" Guid="{589BB181-A5A6-4A43-B1F7-56015DF14B88}">
                <File Id="filCE031BAEC9D6E24D21243E7B049FFD1F" KeyPath="yes" Source="$(var.BasePath)\StreamController.pdb" />
            </Component>
            <Component Id="cmp9F31BBD342C55FFB1E3ECB6C47D4F13F" Guid="{0DC6F54A-8D07-4883-BBC9-50A36AB97989}">
                <File Id="fil9728BE8909B086F3184426BC7D773C12" KeyPath="yes" Source="$(var.BasePath)\StreamController.runtimeconfig.json" />
            </Component>
            <Component Id="cmpB2F9EBAF385E9E29B5A93F58B0D73177" Guid="{8FBDB3B6-9596-4E9F-A5C9-445DDB13EE71}">
                <File Id="filA39AFD83E426A11FDBCFCA1B11CFEE01" KeyPath="yes" Source="$(var.BasePath)\System.Management.dll" />
            </Component>
            <Component Id="cmp41CA3F3B85F5423E36E2246F97BEE6E4" Guid="{0B85B094-6EB6-4E93-821B-12F017C74F00}">
                <File Id="filF7ACF51715946643E89521C6E65E54A7" KeyPath="yes" Source="$(var.BasePath)\WebSocketLibrary.dll" />
            </Component>
            <Component Id="cmp715A39DB7F358E0CA342936B1EE4BFE1" Guid="{69885307-5297-41D8-BAE5-21C5B18A0996}">
                <File Id="fil1E96CE34E999C46E073F7378D9B5EBF2" KeyPath="yes" Source="$(var.BasePath)\WebSocketLibrary.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpBE3C1D05C7C90455322C9F819A57A07A" />
            <ComponentRef Id="cmp6008A86AE138BD45314608B385266AA3" />
            <ComponentRef Id="cmp979BB5B2297816EF2D91624FE967267D" />
            <ComponentRef Id="cmp15F276DD78B937ABF16BDD9DDBEAAF51" />
            <ComponentRef Id="cmpC9CCC10524EC28AC8D49BDBCF324B1E2" />
            <ComponentRef Id="cmpE74CA790A66676363C35D80877FFA067" />
            <ComponentRef Id="cmpA5B86012D697E6B9E09D3B4EC05B400C" />
            <ComponentRef Id="cmp96C2150271DEB1D6783982D5FBD66080" />
            <ComponentRef Id="cmp8D63CAFAF7001FB2C717C72E8F021B38" />
            <ComponentRef Id="cmpCCE82857804FE1C0A9C544F18575AA72" />
            <ComponentRef Id="cmp2632C97EF539E8AAB8F5BD9E0AF745AD" />
            <ComponentRef Id="cmp783EEDF4E4D204DBEA6F3B86C9B5F66F" />
            <ComponentRef Id="cmpBCCE103F5F9888138D149CA2D3F4C388" />
            <ComponentRef Id="cmp3A1A52D7DAFE1B4D1946A67E67C471F4" />
            <ComponentRef Id="cmp3DDD94F7D3709E101400D0A6613DE7C2" />
            <ComponentRef Id="cmp9F31BBD342C55FFB1E3ECB6C47D4F13F" />
            <ComponentRef Id="cmpB2F9EBAF385E9E29B5A93F58B0D73177" />
            <ComponentRef Id="cmp41CA3F3B85F5423E36E2246F97BEE6E4" />
            <ComponentRef Id="cmp715A39DB7F358E0CA342936B1EE4BFE1" />
        </ComponentGroup>
    </Fragment>
</Wix>